div.disclaimer, div.user, div.assistant, div.anna, div.ai, div.instruction {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

div.disclaimer { 
  background-color: #ffdddd;
}

div.disclaimerbox {
  z-index:1000;
  background-color: #EEE;
  position: fixed; top:0px;
  height: 135px;
  margin: 0px;
  padding: 3px;
}

div.user, div.assistant, div.anna, div.ai, div.instruction {
  display: inline-block;
  position: relative;
}

div.user {
  border: 2px #ccccee;
  background-color: #ddddff;
  margin-left: 50px;
  float: right;
  width: 60%;
  margin-right: 20px;
}

div.user:after {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ddddff;
  transform:rotate(-45deg);
  right: -15px;
  top: 10px;
}

div.assistant, div.anna, div.ai {
  border: 2px #cccccc;
  background-color: #dddddd;
  margin-right: 50px;
  float: left;
  width: 60%;
  margin-left: 20px;
}

div.instruction {
  border: 2px #ccffcc;
  background-color: #ddffdd;
  margin-right: 50px;
  margin-left: 50px;
  float: center;
  /* width: 60%; */
  margin-left: 20px;
  margin-right: 20px;
};

div.assistant::before {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #dddddd;
  transform:rotate(45deg);
  left: -10px;
  top: 10px;
}

div.anna::before {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #dddddd;
  transform:rotate(45deg);
  left: -10px;
  top: 10px;
}

div.ai::before {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #dddddd;
  transform:rotate(45deg);
  left: -10px;
  top: 10px;
}

p.role {
  margin-top: 0px;
  margin-bottom: 6px;
  font-weight:bold;
}

p.message {
  margin: 2px;
}

div.scroller {
  position: fixed;
  top: 136px;
  bottom: 1px;
  overflow: scroll;
  margin: 0px;
  width: 100%;
}

body {
  margin: 0px;
}

br.fullwidth {
 width: 100%;
}
