:root {
  --gray-100: #f7fafc;
  --gray-400: #cbd5e0;
  --text-link: #1547ab;
  --transition-speed: 300ms;
  --hw-blue: #007ebb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-group:not(:first-of-type) {
  margin-top: 15px;
}

.checkbox-group {
  display: flex;
  /* align-items: center; */
  gap: 0.5rem;
}

.checkbox-group label {
  margin-left: 5px;
  margin-top: 0; /* Removing bottom margin can help with alignment */
  margin-bottom: 0; /* Removing bottom margin can help with alignment */
}

.checkbox-group input[type="checkbox"] {
  margin-left: 1rem;
  width: auto;
}

label {
  display: block;
  margin-top: 5px;
}

input[type="text"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  height: 150px;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-height: 72px;
  align-items: center;
  width: 100vw;
  border-top: 4px solid #007ebb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header-left {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1.25rem;
}

.header-left > .title-container {
  display: inline;
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--gray-100);
  border-radius: 9999px;
}

.avatar-container svg {
  width: 30px;
  height: 30px;
  color: #9ca3af;
}

.main-container {
  display: flex;
  height: calc(100vh - 50px);
}

.sidebar {
  background-color: rgba(128, 128, 128, 0.265);
  width: 20rem;
  overflow-y: auto;
  padding: 1.5rem;
  gap: 0.25rem;
  transition: all var(--transition-speed);
}

.sidebar-hidden {
  width: 0;
  transform: translateX(-100%);
  opacity: 0;
  padding: 0;
}

.sidebar-item:not(:last-child) {
  margin-bottom: 0.5rem; /* Adjust the spacing between items as needed */
}

.content-container {
  overflow-y: auto;
  flex: 1;
  margin: 1.5rem;
  transition: all var(--transition-speed);
}

.content-title p {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.topic > .editable-name {
  font-size: 4rem;
}

.content-item {
  cursor: pointer;
}

.option-container > details > summary {
  list-style: none;
}

.option-container p,
.clickable-option {
  margin-left: 1rem;
}

details p {
  margin-left: 1rem;
}

.sidebar-option {
  padding: 0.2rem;
  margin-bottom: 2px;
  list-style-type: none;
}

.sidebar-option p {
  padding: 0.3rem 0 0 0;
  margin-bottom: 2px;
}

#course-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding: 1rem;
}

.my-courses-container,
.other-courses-container {
  display: flex;
  flex-direction: column;
  width: 48%;
  gap: 0.3rem;
}

.course-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-button-container {
  min-width: 9rem;
}

.course-item {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.2s;
  color: var(--hw-blue);
}

.course-list-wrapper,
.course-content-wrapper {
  flex: 1;
  min-height: 96%;
  /* padding: 1rem; */
}

.course-item:hover {
  color: #0056b3;
}

.filter-wrapper {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 10px;
}

.dep-sel-container,
.teacher-sel-container {
  flex: 0 0 auto;
  margin: 0 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 220px;
  min-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  font-size: 14px;
}

.course-content-wrapper > .title-container,
.course-content,
.course-list-wrapper {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

.course-content-wrapper > .title-container {
  display: flex;
  justify-content: space-between;
}

.course-content {
  margin-top: 1rem;
  padding: 3rem;
}

.course-content .title {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  align-items: center;
}

.content-line {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  padding: 5px;
}

.content-line[draggable="true"] {
  cursor: move;
}

.hidden {
  display: none !important;
}

.hidden-editmode {
  opacity: 20%;
}

.content-line > p {
  font-size: 1.1rem;
  font-weight: 500;
}

.content-line .file-size {
  align-items: baseline;
  margin-left: 10px;
  font-size: 0.8rem;
}

.content-icon {
  width: 1.3rem;
  margin-right: 10px;
}

.interface-icon {
  width: 0.8rem;
  cursor: pointer;
  opacity: 20%;
}

.interface-icon:hover {
  opacity: 100%;
}

.tick-icon,
.cross-icon {
  display: none;
}

.gear {
  opacity: 100%;
  width: 1.6rem;
}

.gray-divider {
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  margin: 1rem 0 1rem 0;
}

.course-content-wrapper > .title-container > .title {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  align-items: center;
}

details {
  cursor: pointer;
}

.folder-title {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 0.85rem;
}

#editable-name[contenteditable="true"] {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 4px;
  outline: none;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, var(--hw-blue) 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  cursor: pointer;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* LOADING START */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* LOADING END */

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: start;
    padding: 0.75rem;
  }
  
  .header-left {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  
  .header-left svg {
    width: 24px;
    height: 24px;
  }
  
  .header-left > .title-container img {
    width: 150px;
  }
  
  .user-info-container {
    order: -1;
    width: 100%;
    margin-top: 0.5rem;
    justify-content: space-between;
  }
  
  .content-container {
    margin: 0.75rem;
  }
  
  .filter-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  
  .dep-sel-container,
  .teacher-sel-container {
    margin: 5px 0;
  }
  
  select {
    width: 100%;
  }
}

/*TEST CODE TEMP*/

.login-container {
  width: 100%;
  max-width: 40vw;
  margin: 50px auto;
  padding: 1rem 5rem 1rem 5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  /* margin-bottom: 5px; */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-button {
  margin-top: 2rem;
  background-color: var(--hw-blue);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #004494;
}

.user-menu {
  position: relative;
  padding: 0;
  margin-right: 1em;
  border: none;
}

.user-menu summary {
  list-style: none;
  list-style-type: none;
}

.user-menu > summary::-webkit-details-marker {
  display: none;
}

.user-menu summary:focus {
  outline: none;
}

.user-menu summary:focus a.button {
  border: 2px solid white;
}

.user-menu summary:focus {
  outline: none;
}

.user-menu ul {
  position: absolute;
  right: 0;
  width: max-content;
  z-index: 2;
  
  background: white;
  border-radius: 6px;
  list-style: none;
}

.user-menu ul li {
  padding: 0;
  margin: 0;
}

.user-menu ul {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.18);
}

.user-menu ul li a:link,
.user-menu ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
}

.user-menu ul li a:hover {
  border-radius: 6px;
  background-color: var(--hw-blue);
  color: white;
}

/* Close the user-menu with outside clicks */
.user-menu > summary::before {
  display: none;
}

.user-menu[open] > summary::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.new-content-line {
  margin-top: 1rem;
  margin-left: 4rem;
}

.toggle-edit-container {
  display: flex;
  gap: 0.5rem;
  min-width: max-content;
}

table {
  border-collapse: collapse;
  width: auto;
}

/* Styling for each cell */
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Styling for the header row */
thead th {
  background-color: var(--hw-blue);
  color: white;
}

.no-content {
  font-size: small;
  color: #a0a0a0;
}

.course-line {
  display: flex;
  padding: 0;
  /* margin-top: 0.5rem; */
}

.edit-container {
  display: flex;
  margin-left: 1rem;
  gap: 0.3rem;
}

.course-list-header-title {
  margin-bottom: 0.5rem;
}

.login-error {
  margin-top: 1rem;
  color: red;
  font-size: small;
}

.select-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.date-time-group {
  display: flex;
  flex-direction: row;
}

.date-time-group > div {
  width: 24%;
}

fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
}

legend {
  margin-left: 1rem;
}

fieldset > input {
  margin-left: 0.5rem;
}

#startDate,
#endDate {
  padding: 0.2rem;
}

.tags-input-container {
  padding: 5px;
  margin-top: 0.6rem;
}

.classification,
.teacher,
.department {
  display: inline-block;
  padding: 3px 8px;
  margin: 5px;
  position: relative;
  border-radius: 3px;
  background-color: #e2e8f0;
  border-style: solid;
  font-size: 0.8rem;
}

.classification #remove-classification,
.teacher #remove-teacher,
.department #remove-department {
  margin-left: 5px;
  font-weight: bold;
  font-size: 0.6rem;
}

#teacher-list,
#classification-list,
#department-list {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  max-width: 15rem;
}

.course-unavailable:hover,
.course-unavailable {
  cursor: default;
  color: #a0a0a0;
}

.course-unavailable-text {
  font-size: smaller;
  color: #a0a0a0;
  margin-left: 5px;
  text-wrap: nowrap;
}

.approval-status-1 {
  color: green;
}

.approval-status-0 {
  color: red;
}

/* LOADING SPINNER */
.spinner {
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 50%;
  color: #fff;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
  top: 50%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  top: 0;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spinner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spinner.show,
.overlay.show {
  opacity: 1;
}
/*LOADING SPINER END*/
